body {
    background-color: #f4f4f4;
    background-image: url(https://cdn.jsdelivr.net/gh/imsyy/file/pic/email-pattern.png);
    background-attachment: fixed;
}

/*时间样式*/
#times {
    margin-right: 0.5rem;
}

/*页面布局*/
section {
    margin: 10px;
    margin-top: 80px;
}

.row {
    margin-bottom: 1.5rem;
}

/*导航*/
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
}

.bg-light {
    background-color: rgb(255 255 255 / 80%) !important;
    backdrop-filter: blur(4px);
}

img.d-inline-block.align-text-top {
    margin: 0px 10px;
}

/*天气*/
#tp-weather-widget {
    padding-bottom: 0.75rem;
    margin-right: 1.05rem;
}

/*面包屑导航*/
li.breadcrumb-item.active a {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}

li.breadcrumb-item a {
    color: black;
    text-decoration: none !important;
}

.breadcrumb {
    margin-top: 6rem !important;
}

/*表格*/
th,
tbody {
    text-align: center;
}

/*页脚*/
.footer-text {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(255 255 255 / 80%) !important;
    backdrop-filter: blur(4px);
}